body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4a385e;
  color: white;
  text-align: center;
  padding: 1rem;
}

h1 {
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 0.1rem;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  margin: 0 auto;
  max-width: 800px;
}

.image-gallery a {
  display: block;
}

.image-gallery img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

section {
  margin-top: 10px; /* reduce the top margin to decrease the space between sections */
  margin-bottom: 10px; /* reduce the bottom margin to decrease the space between sections */
  padding: 10px; /* add some padding to separate the content from the section borders */
  text-align: center;
}

form {
  display: inline-block;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.image-quote {
  font-size: 14px;
  padding: 5px 0;
}

.role-option {
  display: inline-block;
  cursor: pointer;
}

.role-option:hover {
  border-color: #999;
}


label[for="age"] {
  display: block; /* set display property to block to put the age checkbox on a separate line */
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
}

label[for="email"] {
  display: inline-block; /* set display property to inline-block to put the label and input on the same line */
  margin-right: 5px; /* add some margin between the label and input */
}


